body {
  background: white;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.box {
  width: 100%;
}

#notes-container {
  padding-top: 1em;
}

#notes-container ul li {
  display: flex;
}

#notes-container ul li > table {
  height: 4em;
  background-color: aliceblue;
}

.del-note,
.edit-note {
  padding: 0 !important;
  margin: 0 !important;
}

tr.col-id,
td.col-header {
  font-weight: 600;
  display: none;
}

td {
  white-space: pre-wrap;
}

.no-data {
  color: red;
  font-size: 0.8em;
  margin-top: 1.5em;
}

.hide {
  display: none;
}

.ui-content > form > textarea {
  height: 100% !important;
}

.ui-nodisc-icon p {
  display: inline;
}

/*This applies from 600px onwards*/
@media (min-width: 600px) {
  body {
    background: green;
  }
}
