body {
  background: white;
}

img {
  max-width: 100%;
  max-height: 100%;
  display: block;
}

.box {
  width: 100%;
}

#notes-container {
  padding-top: 1em;
}

table {
  background-color: aliceblue;
}

tr.col-id,
td.col-header {
  font-weight: 600;
  display: none;
}

td {
  white-space: pre-wrap;
}

.no-data {
  color: red;
  font-size: 0.8em;
  margin-top: 1.5em;
}

.hide {
  display: none;
}

/*This applies from 600px onwards*/
@media (min-width: 600px) {
  body {
    background: green;
  }
}
